<section class="bg-black" id="thoughts">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our Thoughts</h2>
                <hr class="light">
                <p class="text-faded">What would the future look like if we could shift our gaze from stages and screens
                    to each other around a table? When we break free from the isolation of virtual spaces and break
                    bread together, we can rediscover what it’s like to be a part of something bigger than ourselves.
                    The 24-hour news cycles lead us to believe that we’re more divided than any time in history. But we
                    can dispel this myth together.</p>
                <p class="text-faded">Help us usher in a renewed commitment to share perspectives and learn the art of
                    actively listening through deep-dive conversations. By expanding circles of empathy and promoting
                    honest conversations, let’s co-create a foundation for ongoing dialog to sustain us long after we
                    return to our corners.

                </p>
                <p class="text-faded">Abraham Lincoln once said, “I don’t like that man. I must get to know him better.”
                    We agree with this philosophy. Let’s dismantle the silos, build more supportive villages and create
                    human connectedness. By courageously inserting our most authentic selves into real life public
                    spaces, we prove that we are more alike than different, ideologically, spiritually and
                    generationally.

                </p>
            </div>
        </div>
    </div>
</section>