<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Grassroots Community Builders</h2>
                <hr class="light">
                <p class="text-faded">Tiny Talks are a casual and engaging way for people of diverse generations, zip
                    codes and ideologies to communicate freely, honestly and without fear of judgement.
                </p>
                <!-- <a href="#portfolio" class="btn btn-default btn-xl page-scroll">Discover & Inspire</a> -->
            </div>
        </div>
    </div>
</section>