<section class="no-padding" id="cards">
    <section id="cards">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">A Few Comments From Our Guests</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div style="background-color: white;" class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box pop">
                        <img src="assets/portfolio/1.jpg" class="img-responsive" alt="1">
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box pop">
                        <img src="assets/portfolio/2.jpg" class="img-responsive" alt="2">
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box pop">
                        <img src="assets/portfolio/3.jpg" class="img-responsive" alt="3">
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box pop">
                        <img src="assets/portfolio/4.jpg" class="img-responsive" alt="4">
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box pop">
                        <img src="assets/portfolio/5.jpg" class="img-responsive" alt="5">
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box pop">
                        <img src="assets/portfolio/6.jpg" class="img-responsive" alt="6">
                    </a>
                </div>
            </div>
        </div>
        <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" style="width: 70%;">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <img src="" class="imagepreview" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </section>