<section class="bg-black" id="story">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our Story</h2>
                <hr class="light">
                <p class="text-faded">
                    Conversations matter. Connections matter. We are always learning.
                    Tiny Talks, formerly TEDxYBC, is an organization dedicated to promoting thought-provoking
                    conversations
                    that matter. We have organized 10 community-building events serving
                    over
                    2,500 people. Our events connect people across economic, ideological, ethnic, and generational
                    boundaries. Some examples of events include:
                </p>

                <br />
                <p class="text-faded">
                    Working with local designers and builders to create a mobile chalk wall; an interactive
                    experience based on Candy Chang’s Before I Die Project. This adjunct project traveled across the
                    county to
                    different locales to engage the community at large.
                </p>
                <p class="text-faded">

                    Unveiled OC, in which we designed stage and interactive events to challenge strangers to step
                    out of
                    their echo chambers and walk a mile in the shoes of their friends, neighbors, and strangers.
                    Jeffersonian Dinners in which equal numbers of teens and adults joined together to dine, share
                    stories, and practice the art of sharing stories and listening deeply.
                </p>
                <p class="text-faded">

                    Art and Comedy Mashups- Immersive experiential pop-ups in which we designed games and exhibits
                    to
                    spark intergenerational conversations about the importance of the role of the Humanities in
                    modern
                    society
                </p>
                <p class="text-faded">

                    TEDSocial, in which TED asked our team to model a formal dinner party series where
                    intergenerational
                    participants were invited to connect over shared stories of personal loss and grief.
                </p>

                <br />

                <p class="text-faded">
                    Tiny Talks is an evolution of these ideas, blended with one deceptively simple and
                    radical notion: to learn how to speak with candor and how to listen deeply. We believe that society’s
                    biggest threat to peace and stability is the phenomenon of echo chambers which have grown
                    exponentially
                    in recent years. To combat this, we endeavor to model practicing (1) bravely sharing our
                    personal stories with friends, family, neighbors, and strangers ; (2) expressing our needs clearly
                    to
                    the other; (3) listening with curiosity and without judgment.
                </p>
            </div>
        </div>
    </div>
</section>