<section class="bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Exploring the COVID Time Capsule: May 22</h2>
                <hr class="primary">
                <p class="text-faded">
                    What would the future look like if we could shift our gaze from stages and screens
                    to each other? When we break free from the isolation of virtual spaces and have
                    conversations together, we can rediscover what it’s like to be a part of something bigger than
                    ourselves.
                </p>
                <p class="text-faded">
                    The past year has been a time of Both/And. Both loneliness and togetherness. Both instability and
                    constancy. Both confusion and clarity. Both loss and gain. History books will capture the broad
                    brushstrokes of the COVID-19 Pandemic, but not the humanity of your deeply personal experience. What
                    should future generations know?
                </p>

                <div class="col-lg-6 text-center">
                    <p class="text-faded">
                        We invite you to fill out a digital postcard about your own experience.
                    </p>
                    <a href="https://forms.gle/VgcT5JfsyreLE2Cy7" target="_blank" rel="noopener noreferrer"
                        class="btn btn-primary btn-xl" style="margin-bottom: 1em;">
                        Fill out the digital postcard
                    </a>
                </div>

                <div class="col-lg-6 text-center">
                    <p class="text-faded">
                        Join us virtually on <u>Saturday, May 22 at 5:00 PM PST</u> to explore this question and much
                        more.
                    </p>
                    <a target="_blank" href="https://lu.ma/beta" rel="noopener noreferrer"
                        class="btn btn-default btn-xl" style="margin-bottom: 1em;">
                        Purchase Tickets
                    </a>
                </div>

                <img src="assets/portfolio/1.jpg" class="img-responsive" alt="1">
                <!-- <p class="text-faded">Help us usher in a renewed commitment to share perspectives and learn the art of
                    actively listening through deep-dive conversations. By expanding circles of empathy and promoting
                    honest conversations, let’s co-create a foundation for ongoing dialog to sustain us long after we
                    return to our corners.
                </p> -->

                </p>
                <br />
                <a href="/" class="btn btn-default btn-xl">Back Home</a>
            </div>
        </div>
    </div>
</section>