<section class="bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A Case for Hope:</h2>
                <h2 class="section-heading">Reframing Our Stories, Reclaiming Our Well-Being</h2>
                <hr class="primary">
                <!-- <p class="text-faded">
                    Details coming soon!
                </p> -->
                <p class="text-faded">
                    How do we live well in a time of uncertainty? How can we get comfortable with discomfort? And how
                    will we share our stories? Discuss these questions and more with us at the latest Tiny Talks event.

                </p>
                <p class="text-faded">
                    Over the last couple years, our members have expressed grappling with their relationship with
                    uncertainty, at times loneliness, and the joys of connection. At the same time, we’ve been exploring
                    different, nuanced perspectives on mental wellness. Through this event, we hope to delve deeper into
                    the relationships all of us have with our emotions.
                </p>

                <!-- <div class="col-lg-6 text-center">
                    <p class="text-faded">
                        We invite you to fill out a digital postcard about your own experience.
                    </p>
                    <a href="https://forms.gle/VgcT5JfsyreLE2Cy7" target="_blank" rel="noopener noreferrer"
                        class="btn btn-primary btn-xl" style="margin-bottom: 1em;">
                        Fill out the digital postcard
                    </a>
                </div> -->

                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="text-faded">
                        Join us virtually on <u>Saturday, January 15 at 1:30 PM PST</u> to explore this question and
                        much
                        more.
                    </p>
                    <a target="_blank" href="https://www.eventbrite.com/e/loneliness-and-listening-tickets-233766831887"
                        rel="noopener noreferrer" class="btn btn-default btn-xl" style="margin-bottom: 1em;">
                        Get Tickets
                    </a>
                </div>

                <img src="assets/portfolio/1.jpg" class="img-responsive" alt="1">
                <!-- <p class="text-faded">Help us usher in a renewed commitment to share perspectives and learn the art of
                    actively listening through deep-dive conversations. By expanding circles of empathy and promoting
                    honest conversations, let’s co-create a foundation for ongoing dialog to sustain us long after we
                    return to our corners.
                </p> -->

                </p>
                <br />
                <a href="/" class="btn btn-default btn-xl">Back Home</a>
            </div>
        </div>
    </div>
</section>