<section class="bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Exploring the COVID Time Capsule: May 22</h2>
                <hr class="primary">
                <p class="text-faded">What would the future look like if we could shift our gaze from stages and screens
                    to each other around a table? When we break free from the isolation of virtual spaces and break
                    bread together, we can rediscover what it’s like to be a part of something bigger than ourselves.
                    The 24-hour news cycles lead us to believe that we’re more divided than any time in history. But we
                    can dispel this myth together.
                </p>

                <a href="https://forms.gle/VgcT5JfsyreLE2Cy7" target="_blank" rel="noopener noreferrer"
                    class="btn btn-primary btn-xl" style="margin-bottom: 1em; margin-right: 2em;">
                    Fill out the digital postcard
                </a>

                <a target="_blank" rel="noopener noreferrer" class="btn btn-default btn-xl" style="margin-bottom: 1em;">
                    Purchase Tickets (Coming soon)
                </a>

                <img src="assets/portfolio/1.jpg" class="img-responsive" alt="1">
                <!-- <p class="text-faded">Help us usher in a renewed commitment to share perspectives and learn the art of
                    actively listening through deep-dive conversations. By expanding circles of empathy and promoting
                    honest conversations, let’s co-create a foundation for ongoing dialog to sustain us long after we
                    return to our corners.
                </p> -->

                </p>
                <br />
                <a href="/" class="btn btn-default btn-xl">Back Home</a>
            </div>
        </div>
    </div>
</section>